@model List<EstudanteModel>
@{
    ViewData["Title"] = "Lista de estudantes";
}
<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary" role="button" asp-controller="Estudante" asp-action="Criar">Cadastrar novo estudante</a>
    </div>
    <br />
    <h1 class="display-4"> Listagem de estudantes</h1>

    <table id="myTable" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Endereço</th>
                <th scope="col">Data de Conclusão</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (EstudanteModel estudante in Model)
                {
                    <tr>
                        <th scope="row">@estudante.Id</th>
                        <td>@estudante.Nome</td>
                        <td>@estudante.CPF</td>
                        <td>@estudante.Endereco</td>
                        <td>@estudante.DataDeConclusao.ToString("MM/yyyy")</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@estudante.Id" asp-controller="Estudante" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@estudante.Id" asp-controller="Estudante" asp-action="Apagar_Confirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            let table = new DataTable('#myTable');
        });
    </script>
}
